In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [2]:
car=pd.read_csv('quikr_car.csv')
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [3]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [4]:
car.describe()

              name company  year          Price  kms_driven fuel_type
count          892     892   892            892         840       837
unique         525      48    61            274         258         3
top     Honda City  Maruti  2015  Ask For Price  45,000 kms    Petrol
freq            13     235   117             35          30       440

In [5]:
car.shape

(892, 6)

In [6]:
car.isnull().sum()

name           0
company        0
year           0
Price          0
kms_driven    52
fuel_type     55
dtype: int64

In [7]:
backup=car.copy()

In [8]:
car=car[car['year'].str.isnumeric()]

In [9]:
car.shape

(842, 6)

In [10]:
car['year']=car['year'].astype(int)

In [11]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [12]:
car=car[car['Price']!='Ask For Price']

In [13]:
car['Price']=car['Price'].str.replace(',','').astype(int)

In [14]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [15]:
car['kms_driven']=car['kms_driven'].apply(lambda x:x.split(" ")).str.get(0).str.replace(',','')

In [16]:
car=car[car['kms_driven'].str.isnumeric()]

In [17]:
car['kms_driven']=car['kms_driven'].astype(int)

In [18]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [19]:
car['fuel_type']=car['fuel_type'].dropna()

In [20]:
car['name']=car['name'].apply(lambda x:x.split()).str.slice(0,3).str.join(' ')

In [21]:
car.head()

                     name   company  year   Price  kms_driven fuel_type
0     Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1     Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3       Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4  Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6               Ford Figo      Ford  2012  175000       41000    Diesel

In [22]:
car.reset_index(drop=True)
car.head()

                     name   company  year   Price  kms_driven fuel_type
0     Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1     Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3       Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4  Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6               Ford Figo      Ford  2012  175000       41000    Diesel

In [23]:
car.describe()

              year         Price     kms_driven
count   817.000000  8.170000e+02     817.000000
mean   2012.440636  4.115503e+05   46250.714810
std       4.002354  4.749173e+05   34283.745254
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.900000e+05   56758.000000
max    2019.000000  8.500003e+06  400000.000000

In [24]:
car.to_csv('cleaned_car.csv')

In [25]:
car.isnull().sum()

name          0
company       0
year          0
Price         0
kms_driven    0
fuel_type     1
dtype: int64

In [26]:
car=car.dropna()

In [27]:
x=car.drop(columns='Price')
y=car['Price']

In [28]:
x.isnull().sum()

name          0
company       0
year          0
kms_driven    0
fuel_type     0
dtype: int64

In [29]:
y.isnull().sum()

0

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(x,y,random_state=56,test_size=0.2)

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score

In [32]:
from sklearn.preprocessing import OneHotEncoder

In [33]:
ohe=OneHotEncoder()
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [34]:
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [35]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import ExtraTreesRegressor

In [38]:
lr=LinearRegression()
ada=AdaBoostRegressor()
svr=SVR()
et=ExtraTreesRegressor()
dt=DecisionTreeRegressor()
kn=KNeighborsRegressor()
rf=RandomForestRegressor()

In [39]:
pipe=make_pipeline(column_trans,lr)

In [40]:
pipe.fit(X_train,Y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [41]:
prediction=pipe.predict(X_test)

In [42]:
r2_score(Y_test,prediction)

0.6023028035712059

In [ ]:
scores=[]
for i in range(1000):
    X_train,X_test,Y_train,Y_test=train_test_split(x,y,random_state=i,test_size=0.2)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,Y_train)
    prediction=pipe.predict(X_test)
    scores.append(r2_score(Y_test,prediction))

In [ ]:
np.argmax(scores)

In [45]:
scores[np.argmax(scores)]

0.872678135470821

In [46]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,random_state=np.argmax(scores),test_size=0.2)
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,Y_train)
prediction=pipe.predict(X_test)
r2_score(Y_test,prediction)

0.872678135470821

In [47]:
import pickle

In [48]:
pickle.dump(pipe,open('linearregession_model.pkl','wb'))

In [59]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Vitara','Maruti',2016,15975,'Diesel']],columns=['name','company','year','kms_driven','fuel_type']))

array([580777.33049567])

In [56]:
car.head(425)

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
7,Hyundai Eon,Hyundai,2013,190000,25000,Petrol
8,Ford EcoSport Ambiente,Ford,2016,830000,24530,Diesel
9,Maruti Suzuki Alto,Maruti,2015,250000,60000,Petrol
10,Skoda Fabia Classic,Skoda,2010,182000,60000,Petrol
11,Maruti Suzuki Stingray,Maruti,2015,315000,30000,Petrol
12,Hyundai Elite i20,Hyundai,2014,415000,32000,Petrol
13,Mahindra Scorpio SLE,Mahindra,2015,320000,48660,Diesel
14,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol
15,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel
16,Audi A8,Audi,2017,1000000,4000,Petrol
17,Audi Q7,Audi,2014,500000,16934,Diesel
18,Mahindra Scorpio S10,Mahindra,2016,350000,43000,Diesel
19,Maruti Suzuki Alto,Maruti,2014,160000,35550,Petrol
20,Mahindra Scorpio S10,Mahindra,2016,350000,43000,Diesel
21,Mahindra Scorpio S10,Mahindra,2016,310000,39522,Diesel
22,Maruti Suzuki Alto,Maruti,2015,75000,39000,Petrol
23,Hyundai i20 Sportz,Hyundai,2012,100000,55000,Petrol
24,Hyundai i20 Sportz,Hyundai,2012,100000,55000,Petrol
25,Hyundai i20 Sportz,Hyundai,2012,100000,55000,Petrol
26,Maruti Suzuki Alto,Maruti,2017,190000,72000,Petrol
27,Maruti Suzuki Vitara,Maruti,2016,290000,15975,Diesel
28,Maruti Suzuki Alto,Maruti,2008,95000,70000,Petrol
29,Mahindra Bolero DI,Mahindra,2017,180000,23452,Diesel
30,Maruti Suzuki Swift,Maruti,2014,385000,35522,Diesel
31,Mahindra Scorpio S10,Mahindra,2015,250000,48508,Diesel
...,...,...,...,...,...,...
415,Maruti Suzuki Alto,Maruti,2014,270000,22000,Petrol
416,Hyundai Grand i10,Hyundai,2016,280000,59910,Diesel
417,Mahindra XUV500 W8,Mahindra,2012,560000,100000,Diesel
418,Hyundai Creta 1.6,Hyundai,2016,950000,25000,Petrol
419,Hyundai i20 Magna,Hyundai,2013,310000,35000,Petrol
420,Renault Duster 85,Renault,2015,715000,65000,Diesel
421,Hyundai Grand i10,Hyundai,2014,340000,35000,Petrol
422,Honda Brio V,Honda,2012,235000,33000,Petrol
423,Mahindra TUV300 T4,Mahindra,2017,610000,68000,Diesel
424,Chevrolet Spark LS,Chevrolet,2010,95000,23000,Petrol
425,Mahindra TUV300 T8,Mahindra,2018,1000000,4500,Diesel
426,Maruti Suzuki Swift,Maruti,2015,220000,129000,Diesel
427,Nissan X Trail,Nissan,2019,1200000,300,Diesel
428,Maruti Suzuki Alto,Maruti,2015,230000,5000,Petrol
429,Ford Ikon 1.3,Ford,2001,45000,65000,Petrol
430,Toyota Fortuner 3.0,Toyota,2010,940000,131000,Diesel
431,Tata Manza ELAN,Tata,2010,155555,111111,Petrol
434,Mercedes Benz A,Mercedes,2013,1500000,14000,Petrol
435,Chevrolet Beat LS,Chevrolet,2016,210000,22000,Diesel
436,Ford EcoSport Trend,Ford,2013,495000,38000,Diesel
437,Tata Indigo LS,Tata,2016,125000,70000,Diesel
438,Hyundai i20 Magna,Hyundai,2010,195000,36000,Petrol
439,Volkswagen Vento Highline,Volkswagen,2015,550000,34000,Diesel
440,Renault Kwid RXT,Renault,2015,270000,43000,Petrol
442,Ford EcoSport Titanium,Ford,2014,500000,40000,Diesel
443,Honda Amaze 1.5,Honda,2016,240000,160000,Diesel
444,Hyundai Verna 1.6,Hyundai,2017,800000,12000,Petrol
445,BMW 5 Series,BMW,2011,1299000,49000,Diesel
446,Skoda Superb 1.8,Skoda,2011,530000,68000,Petrol
447,Audi Q3 2.0,Audi,2013,1499000,37000,Diesel